* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  width:100%;
  height:100%;
  object-position: center;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height:100%;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  background-color:#F9A825;
}